<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">


  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto nav">

      <li class="nav-item active">
        <a class="nav-link" routerLink="/organization">Search Organization <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<br>
<div class="container">
  <div class="input-group mb-3 col-xs-12 col-md-4 input-padding">
    <input (keyup)="onKey($event)" type="text" class="form-control" placeholder="Type Organisation Username"
      aria-label="Type Organisation Username" aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn btn-success" type="button" id="button-addon2" (click)="search($event.value)"
        [disabled]="noInput">Search</button>
    </div>
  </div>
</div>

<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4" *ngFor="let item of arrayData" style="margin-bottom: 20px">
      <div class="card" [ngClass]="{'bg-warning': item.fork == true , 'bg-white': item.fork !== true }"
        style="margin-bottom: 10px; min-height: 200px">
        <div class="card-body">
          <a href="{{item.html_url}}" target="_blank" style="text-decoration: none; color: #000">
            <h5 class="card-title">{{item.name  }}</h5>
          </a>
          <h6 class="card-subtitle mb-2 text-muted">Language: {{item.language}}</h6>
          <p class="card-text">{{item.description  }}</p>
          <ul class="list-inline Left">
            <li class="list-inline-item" style="margin-right: 30px"> <span>private:</span>{{item.private}}
            </li>
            <li class="list-inline-item" style="margin-right: 30px"> <span>watch:</span>{{item.watchers_count}}
            </li>
            <li class="list-inline-item"><span>fork:</span> {{item.forks_count}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="NoOrgs && getFetchSuccess">
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Error</h5>
      <p class="card-text">No Organization found</p>
    </div>
  </div>
</div>
